<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
                                           {# 默认设为空字符串 #}
                {% if request.session.user_name|default:'' != '' %}
				<div class="login_btn fl">
					欢迎您：<em>{{ request.session.user_name }}</em>
                    <span>|</span>
					<a href="/user/logout/">退出</a>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
                {% endif %}

				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info/">用户中心</a>
					<span>|</span>
					<a href="/cars/car/">我的购物车</a>
					<span>|</span>
					<a href="/user/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>

    <script>
        function search() {
            var data = $("#search_content").val();
            data = {
                "data":data
            };
            $.get("/goods/search/",data,function(data){
                if(data.data=="fail"){
                    alert("无此商品..");
                    return false;
                    }
                alert(data.count)
            },"json");
        }
    </script>

	<div class="search_bar clearfix">
		<a href="/goods/index/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" id="search_content" name="" placeholder="搜索商品">
			<input type="button" onclick="search();" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/cars/car/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ count }}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/in/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            <li><a href="#model01" class="seafood">海鲜水产</a></li>
			<li><a href="#model02" class="fruit">新鲜水果</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><a href="/goods/detail/?id=47"><img src="/static/images/slide02.jpg" alt="幻灯片"></a></li>
				<li><a href="/goods/detail/?id=48"><img src="/static/images/slide03.jpg" alt="幻灯片"></a></li>
				<li><a href="/goods/detail/?id=49"><img src="/static/images/鳕鱼片.jpg" alt="幻灯片"></a></li>
                <li><a href="/goods/detail/?id=50"><img src="/static/images/贵族南瓜.jpg"  alt="幻灯片"></a></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl" style="width:230px;height:270px;margin-left: 5px">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for type in type0 %}
                    <a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/goods/list/?type=海鲜水产&&p=1&&sort=1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg" style="float:left"></div>
			<ul class="goods_list fl">
                {% for type in type01 %}
                    <li>
                        <h4><a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a></h4>
                        <a href="/goods/detail/?id={{ type.id }}"><img src="/static/{{ type.gpic }}"></a>
                        <div class="prize">
                            ¥<span class="unit">{{ type.gprice }}/{{ type.gunit}}</span>
                        </div>
                    </li>
                {% endfor %}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for type in type1 %}
                    <a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a>
                {% endfor %}
			</div>
            <a href="/goods/list/?type=新鲜水果&&p=1&&sort=1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
				{% for type in type11 %}
                    <li>
                        <h4><a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a></h4>
                        <a href="/goods/detail/?id={{ type.id }}"><img src="/static/{{ type.gpic }}"></a>
                        <div class="prize">
                            ¥<span class="unit">{{ type.gprice }}/{{ type.gunit}}</span>
                        </div>
                    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for type in type2 %}
                    <a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/goods/list/?type=猪牛羊肉&&p=1&&sort=1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				{% for type in type21 %}
                    <li>
                        <h4><a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a></h4>
                        <a href="/goods/detail/?id={{ type.id }}"><img src="/static/{{ type.gpic }}"></a>
                        <div class="prize">
                            ¥<span class="unit">{{ type.gprice }}/{{ type.gunit}}</span>
                        </div>
                    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for type in type3 %}
                    <a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/goods/list/?type=禽类蛋品&&p=1&&sort=1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{% for type in type31 %}
                    <li>
                        <h4><a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a></h4>
                        <a href="/goods/detail/?id={{ type.id }}"><img src="/static/{{ type.gpic }}"></a>
                        <div class="prize">
                            ¥<span class="unit">{{ type.gprice }}/{{ type.gunit}}</span>
                        </div>
                    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for type in type4 %}
                    <a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/goods/list/?type=新鲜蔬菜&&p=1&&sort=1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				{% for type in type41 %}
                    <li>
                        <h4><a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a></h4>
                        <a href="/goods/detail/?id={{ type.id }}"><img src="/static/{{ type.gpic }}"></a>
                        <div class="prize">
                            ¥<span class="unit">{{ type.gprice }}/{{ type.gunit}}</span>
                        </div>
                    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for type in type5 %}
                    <a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a>
                {% endfor %}
			</div>
			<a href="/goods/list/?type=速冻食品&&p=1&&sort=1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				{% for type in type51 %}
                    <li>
                        <h4><a href="/goods/detail/?id={{ type.id }}">{{ type.gtitle }}</a></h4>
                        <a href="/goods/detail/?id={{ type.id }}"><img src="/static/{{ type.gpic }}"></a>
                        <div class="prize">¥ {{ type.gprice }}</div>
                    </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>


{#	<script type="text/javascript" src="js/slideshow.js"></script>#}
{#	<script type="text/javascript">#}
{#		BCSlideshow('focuspic');#}
{#		var oFruit = document.getElementById('fruit_more');#}
{#		var oShownum = document.getElementById('show_count');#}
{##}
{#		var hasorder = localStorage.getItem('order_finish');#}
{##}
{#		if(hasorder)#}
{#		{#}
{#			oShownum.innerHTML = '2';#}
{#		}#}
{##}
{#		oFruit.onclick = function(){#}
{#			window.location.href = 'list.html';#}
{#		}#}
{#	</script>#}
</body>
</html>