{% extends "df_goods/base.html" %}
{% block head %}
    <script>
         //删除
        function site_del(site_id) {
            del = confirm("确定要删除吗？");
            if(del){
                $.get('/user/site_del/'+ site_id +'/',function (data) {
                    if(data.ok = 1){
                        $("tr").remove("#" + site_id);
                    }
                });
            }
        }

        $(function () {
            //查询省
            $.get('/user/province/',function(arg) {
                var pro = $("#pro");
                $.each(arg.data,function(index,item) {
                   pro.append('<option value = "'+item[0]+'">'+item[1]+'</option>')
               })
           });

            //查询市
            $("#pro").change(function () {
                $.get('/user/city/'+$(this).val()+'/',
                function (arg) {
                    var city = $("#city");
                    var dis = $("#dis");
                    city.empty().append('<option value="">请选择市</option>');
                    dis.empty().append('<option value="">请选择区</option>');
                     //{data:[{id:1,title:"北京"},{id:1,title:"天津"},...]}
                    $.each(arg.data,function (index,item) {
                        //{id:1,title:"北京"},{id:1,title:"天津"}
                        city.append('<option value="'+item.id+'">'+item.title+'</option>')
                    })
                }
                );
            });

            //查询区
            $("#city").change(function () {
                $.get('/user/city/'+$(this).val()+'/',
                function(arg){
                    var city = $("#dis");
                    city.empty().append('<option value="">请选择区</option>');
                     //{data:[{id:1,title:"北京"},{id:1,title:"天津"},...]}
                    $.each(arg.data,function(index,item) {
                        //{id:1,title:"北京"},{id:1,title:"天津"}
                        city.append('<option value="'+item.id+'">'+item.title+'</option>')
                    })
                }
                );
            });

            {#提交前取地址#}
            $("#site_form").submit(function(){
                if ($('#pro option:selected').text() == $('#city option:selected').text()){
                    var site_str=$('#pro option:selected').text() + "," + $('#dis option:selected').text();
                }else{
                    var site_str=$('#pro option:selected').text()  + "," + $('#city option:selected').text()  + "," + $('#dis option:selected').text();
                }
                $("#uaddress").val(site_str + $("#uaddress").val());
            });
        });
    </script>
{% endblock %}
{% block content %}
	<div class="search_bar clearfix">
		<a href="/goods/index/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/">· 个人信息</a></li>
				<li><a href="/user/order/">· 全部订单</a></li>
				<li><a href="/user/site/" class="active">· 收货地址</a></li>
			</ul>
		</div>

		<div class="right_content clearfix">
            <h3 class="common_title2">收货地址</h3>
                <div class="site_con" style="height: 30px">
					<dl>
						<dt>当前地址：
                            {% if user.uname %}
                                {{ user.uaddress }} （{{ user.uname }} 收） {{ user.uphone }}
                                {% else %}
                                当前无，请添加
						    {% endif %}
                        </dt>
					</dl>					
				</div>
                <h3 class="common_title2">编辑收货地址</h3>
                <div>
                    <div style="width: 490px;height:370px;float: left;padding: 20px">
                        <table>
                            <thead>
                                <tr>
                                    <th>收件人姓名</th>
                                    <th>收件人手机</th>
                                    <th>收件人地址</th>
                                    <th>操作</th>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                            </thead>
                            <br>
                            <tbody>
                                {% for site in site_all %}
                                    <tr style="margin-top: 10px" id={{ site.id }}>
                                        <td style="text-align: center;width: 100px">{{ site.uname }}</td>
                                        <td style="text-align: center;width: 100px">{{ site.uphone }}</td>
                                        <td style="width: 150px">{{ site.uaddress|slice:"10"}}...</td>
                                        <td style="text-align: center;width: 100px">
                                            <a href="javascript:site_del({{ site.id }});">删除</a>
                                            |
                                            <a href="javascript;">编辑</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="site_con">
                        <form action="/user/add_info/" id="site_form" method="post">
                            {% csrf_token %}
                            <div class="form_group">
                                <label>收件人：</label>
                                <input type="text" name="uname" placeholder="请填写收货人姓名">
                            </div>
                            <div class="form_group form_group2">
                                <label >详细地址：</label>
                                    <select name="info" id="pro">
                                    <option value="">请选择省</option>
                                    </select>

                                    <select name="" id="city">
                                    <option value="">请选择市</option>
                                    </select>

                                    <select name="" id="dis">
                                    <option value="">请选择区</option>
                                    </select>
                                <br>
                                <input  id="uaddress" name="uaddress" style="margin-left: 100px" placeholder="请填写具体的门牌号">
                            </div>

                            <div class="form_group">
                                <label>邮编：</label>
                                <input type="text" name="uyoubian" placeholder="请填写收货地址邮编">
                            </div>
                            <div class="form_group">
                                <label>手机：</label>
                                <input type="text" name="uphone" placeholder="请填写收货人手机">
                            </div>
                            <div class="form_group">
                                <label>设为默认：</label>
                                <input type="checkbox" name="isDefault" style="margin-left: -135px">
                            </div>
                            <input type="submit" name="" value="添加" class="info_submit">
                        </form>
                    </div>
				</div>
		</div>
	</div>
{% endblock content %}